/* import font link */
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
/* shared styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
}
#section-3,
#section-7 {
  width: 1320px;
  height: 500px;
  background: linear-gradient(180deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0));
  border-radius: 10px;
  margin-top: 120px;
  margin-left: 115px;
  margin-right: 140px;
}
/* header related styles */
.container-content {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../images/Banner\ Image.png");
  max-width: 1320px;
  width: 100%;
  height: 600px;
  margin: 50px;
  margin-left: 115px;
  margin-right: 140px;
  border-radius: 16px;
  background-repeat: no-repeat;
}
.title-1 {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  padding-top: 177px;
}
.title-2 {
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  padding-left: 300px;
  padding-right: 300px;
}
/* section-1 related styles */
#section-1 {
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  background: #fff;
}
.discount-info{
  align-items: center;
  width: 1511px;
}
.discount-title {
  color: #f00;
  text-align: center;
  font-family: "Inter";
  font-size: 88px;
  font-weight: 700;
  margin-left: 6px;
  margin-right: 8px;
}
.discount-info-1 {
  color: #f00;
  text-align: center;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 500;
  margin-top: 48px;
  margin-left: 6px;
  margin-right: 8px;
}
.discount-info-2 {
  color: #070211;
  text-align: center;
  font-family: "Inter";
  font-size: 48px;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 30px;
}
.discount-img {
  width: 1320px;
  height: 600px;
  align-items: center;
  background-image: url("../images/New\ Year\ Photo.png");
  background-repeat: no-repeat;
  margin-left: 330px;
  margin-right: 325px;
}
/* section-2 related styles */
#section-2 {
  margin-top: 120px;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("../images/Vectorrr.png");
  background-repeat: no-repeat;
  width: 1320px;
  height: 600px;
  margin-left: 115px;
  margin-right: 140px;
  border-radius: 16px;
}
#section-2 .section-2-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.section-2-description {
  padding-left: 40px;
}
.section-2-title {
  color: #fff;
  font-size: 64px;
  font-weight: 900;
  width: 642px;
  margin-bottom: 24px;
  padding-top: 20px;
}
.section-2-title-description {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  width: 697px;
  padding-left: 10px;
}
.section-2-img {
  width: 400px;
  height: 464.662px;
  padding-top: 68px;
  padding-bottom: 68px;
}
.btn {
  color: #fff;
  text-align: center;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 700;
  border: none;
  background-color: transparent;
  margin-top: 48px;
  margin-left: 20px;
}
.btn:hover{
    cursor: all-scroll;
}
/* section-3 related styles */
.section-3-content {
  color: #070211;
  font-family: "Inter";
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  padding-top: 100px;
  padding-left: 385px;
  padding-right: 386px;
  line-height: 56px;
  margin-bottom: 50px;
}
.place,
.date,
.time {
  color: #f00;
}
.btn-1 {
  padding-left: 575px;
  padding-right: 576px;
  padding-bottom: 110px;
}
#section-3 button:hover{
    background-color: rgba(255, 0, 0, 0.39);
}
#section-3 button {
  padding: 16px 32px;
  border-radius: 8px;
  background: #f00;
  color: #fff;
  text-align: center;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 700;
  border: none;
}
/* section-6 related styles */
#section-6 {
  background: #fff;
  width: 1320px;
  height: 500px;
  margin-top: 120px;
  margin-left: 115px;
  margin-right: 140px;
  margin-bottom: 120px;
}
#section-6 .section-6-title h3 {
  color: #f00;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 500;
}
#section-6 .section-6-title h2 {
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  margin-top: 16px;
}
#section-6 .section-6-title p {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  width: 896px;
  margin-top: 22px;
  margin-bottom: 48px;
}
.section-6-content-img {
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
}
.section-6-content-img img {
  width: 424px;
  height: 450px;
  margin-bottom: 10px;
}
/* section-7 related styles */
#section-7 {
  margin-top: 700px;
}
#section-7 img {
  width: 150px;
  height: 150px;
  padding-top: 80px;
  padding-left: 585px;
  padding-right: 585px;
}
#section-7 h3 {
  color: #070211;
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  margin-top: 15px;
  margin-bottom: 22px;
}
#section-7 p {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  width: 900px;
  padding-left: 215px;
  padding-right: 215px;
}
#section-7 .feedback {
  display: flex;
  width: 648px;
  height: 72px;
  flex-shrink: 0;
  border: none;
  padding-left: 336px;
  padding-right: 336px;
  margin-top: 30px;
  margin-bottom: 80px;
}
.feedback-content #form {
  width: 648px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #fff;
  border: none;
  font-size: 20px;
}
.feedback button {
  width: 210px;
  height: 72px;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  flex-shrink: 0;
  border: none;
  color: #fff;
  font-size: 25px;
  font-weight: 30px;
}
/* footer section related styles */
.footer {
  width: 1600px;
  height: 609px;
  background: #070211;
  margin-top: 120px;
}
.footer-content-1 {
  display: flex;
  justify-content: space-around;
  gap: 50px;
}
.footer-cn-des {
  color: #fff;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 500;
  width: 390px;
  line-height: 40px;
  padding-top: 120px;
}
.footer-img {
  padding-top: 120px;
  padding-right: 250px;
}
.footer-cn-img-1,
.footer-cn-img-2 {
  color: #fff;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 500;
}
.footer hr {
  width: 1320px;
  height: 1px;
  background: rgba(255, 255, 255, 0.15);
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}
.footer-content-2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: 600px;
  margin-top: 40px;
  margin-right: 600px;
}
.footer-content-2 img {
  width: 60px;
  height: 60px;
}
.footer-content-3 {
  display: flex;
  justify-content: space-around;
  color: #fff;
  font-family: 'Inter';
  font-size: 24px;
  font-weight: 500;
  margin-top: 60px;
  margin-bottom: 120px;
}
